html{
  scroll-behavior: smooth;
}
body {
    color: rgb(59, 51, 51);
  font-family: "Poppins";
}
.mdc-button {
  font-family: "Poppins";
}
.container {
  top: 0 !important;
  grid-row: 2;
  display: grid;
  grid-template-columns: 1.2fr 3fr;
  grid-gap: 5vh !important;
  margin: 10px !important;
  background-color: #ffffff;
}
.infobox {
  grid-column: 1;
  height: auto;
  max-height: 95vh;
  vertical-align: middle;
}
.details {
  max-height: auto;
  overflow-y: scroll;
}
.mail {
  text-transform: lowercase;
}
.add {
  text-transform: capitalize;
}
.profile {
  width: 50%;
  height: 50%;
  border-radius: 50%;
  padding: 3%;
  padding-top: 8%;
}
.name {
  font-weight: 600;
  font-size: 24px;
}
.divider {
  width: 90%;
  margin: 0% 5% 10px 5%;
  height: 0px;
  border: 1px solid #6200ee;
}
.divider1 {
  width: 100%;
  height: 0px;
  border: 1px solid #6200ee;
}
.color {
  color: #6200ee;
}
.icon {
  margin: 4%;
}
.social {
  display: inline-flexbox;
  padding: 8% 15% 8% 15%;
}
.info {
  width: 80%;
  margin: 0 10% 0 10%;
}
.box {
  display: grid;
  grid-template-columns: 0.1fr 1fr;
  grid-gap: 10px !important;
  padding: 2% 2% 2% 0%;
}
.icon1 {
  grid-column: 1;
}
.content {
  grid-column: 2;
}
.head {
  padding: 1px;
  font-weight: 700;
  text-transform: uppercase;
}
.cont {
  padding: 2px;
  text-align: left;
}
.fas {
  color: #6200ee;
}
.bold {
  font-weight: 600 !important;
  color: #5e5c5c;
}
.present {
  height: 10px;
  width: 10px;
  border: 2px solid orangered;
  background-color: orangered;
  border-radius: 50%;
}
.sm {
  color: black;
  height: 10%;
  width: 10%;
  font-size: 24px;
}

.gh:hover{
    color: black;
}
.fb:hover{
    color: #5054b4;
}
.ig:hover{
    color: #f02866;
}
.tw:hover{
    color: #2e91f6;
}
.li:hover{
    color: #176bb7;
}
.mdc-button__label{
    font-family: 'Poppins' !important;
    font-weight: 400;
}

.about{
    font-weight: 400;
    margin-bottom: 30px !important;
}
.site{
    text-transform: lowercase;
}
.menubar{
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 99;
  background-color: transparent;
  border: transparent;
}
@media screen and (max-width: 620px)
{
  .container{
    display: grid;
    grid-template-rows: auto 1fr;
  }
  .infobox{
    grid-row: 1;
    height: fit-content;
    width: 90vw;
  }
  .details{
    grid-row: 2;
    height: fit-content !important;
    margin-top: 10px;  }
}
@media screen and (max-width: 800px){
  .container{
    grid-template-columns: 1fr 1fr;
  }
  .infobox{
    height: 95vh;
  }
  .details{
    height: 95vh !important;
  }
}
@media screen and (max-width: 1000px){
  .container{
    grid-template-columns: 0.6fr 1fr;
  }
  .infobox{
    height: 95vh;
  }
  .details{
    height: 95vh !important;
  }
}
.menu{
  width: 100vw;
  z-index: 9;
  position: fixed;
  top: 0px;
  background-color: #fefefe;
  outline: none;
  border: none;
  transition: 6s;
}
.mdc-list-item__text>a{
  text-decoration: none;
}

.abt{
  color: #6200ee !important;
  font-size: 24px;
}
.mdc-list-item__graphic{
  font-size: 20px !important;
}