@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
body{
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
  background: #fdfffd;
  color: #423294;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-card{
  display: grid;
  grid-template-columns: auto;
  justify-items: center;
  min-height: 100vh;
  align-items: center;
}
.card{
  max-width: 50%;
  column-gap: 2rem;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: flex-start;
  justify-content: center;
}
.heading{
  font-size: xx-large;
  font-weight: 700;
  margin: 0;
}
.profile{
  height: 7.5rem;
  width: 7.5rem;
  border-radius: 50%;
}
.github{
  width: 2rem;
  height: 2rem;
}

.link{
  display: flex;
  min-width: 30vw;
  justify-content: space-between;
  border: 1px solid #e5e7eb;
  padding: .5rem 2rem;
  border-radius: 50px;
  align-items: center;
  box-shadow: 0 20px 25px -5px rgba(0,0,0,.1),0 8px 10px -6px rgba(0,0,0,.1);;

}

@media screen and (max-width:400px) {
  .card{
    grid-template-columns: 1fr;
    max-width: 80%;
  }
  .link{
    min-width: 70%;
  }
  .heading{
    padding-top: 1rem;
  }
}