@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.header {
  display: flex;
  justify-content: flex-end;
  width: 70vw;
  margin: auto;
  padding: 1rem 0rem;
  max-height: 10vh;
  background-color: rgba(255, 255, 255, 0.8);
}

.resume {
  background: #423294;
  color: #fdfffd;
  padding: .5rem 1rem;
  border-radius: 50px;
  text-decoration: none;
}

body {
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
  background: #fdfffd;
  color: #423294;
}

.main-card {
  display: grid;
  grid-template-columns: auto;
  justify-items: center;
  min-height: 90vh;
  align-items: center;
}

.card {
  max-width: 50%;
  column-gap: 2rem;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: flex-start;
  justify-content: center;
}

.heading {
  font-size: xx-large;
  font-weight: 700;
  margin: 0;
}

.profile {
  height: 7.5rem;
  width: 7.5rem;
  border-radius: 50%;
  animation: zoom 2s;
}

.github {
  width: 2rem;
  height: 2rem;
}

.link {
  display: flex;
  min-width: 25vw;
  justify-content: space-between;
  border: 1px solid #e5e7eb;
  padding: .5rem 2rem;
  border-radius: 50px;
  align-items: center;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, .1), 0 8px 10px -6px rgba(0, 0, 0, .1);
  ;
}

.link a svg g path {
  stroke: #423294 !important;
}

@media screen and (max-width:400px) {
  .header {
    width: 95vw;
  }

  .card {
    grid-template-columns: 1fr;
    max-width: 80%;
  }

  .link {
    min-width: 70%;
  }

  .heading {
    padding-top: 1rem;
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
  }

  to {
    background-color: scale(2);
  }
}