.hFull {
    height: 100%;
}

.wFull {
    width: 100%;
}

.backgroud {
    display: grid;
    grid-template-columns: 25vw 75vw;
    min-width: 100vw;
    min-height: 100vh;
    background-color: var(--blue-2);
    

    .column {
        height: 100vh;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .column:nth-child(1) {
        background-color: var(--blue-8);
        border-bottom-right-radius: 4rem;
        overflow: hidden;
        color: #eff6ff87;
    }
    .card {
        background-color: var(--white-a10);
        border-radius: 4rem;
        position: relative;
        left: -13vw;
        min-width: calc(70vw - 2 * 4rem);
        padding: 4rem;
        .heading{
            font-weight: bold;
            color: var(--primary-font);
            font-size: 2.5rem;
            font-family: 'Lexend', sans-serif;
            .highlight {
                color: var(--heading);
            }
        }
        .description{
            color: var(--secondary-font);
            font-family: 'Inter', sans-serif;
            padding-top: 2rem;
            font-size: 1.25rem;
            font-weight: 500;
        }
        .imgWrapper{
            display: flex;
            justify-content: flex-end;
            height: 0;
            .img{
                position: relative;
                top: -7rem;
                right: 3rem;
            }
        }
        .socialWrapper{
            margin-top: 2rem;
            color: var(--primary-font);
            .link{
                padding-right: 2rem;
                margin-top: 1.5rem;
            }
        }
    }
}
.btnWrapper{
    height: 0;
    display: flex;

    .btn{
        position: relative;
        top: -16vh;
        scale: 1.5;
        animation: upDownAnimation 2s infinite alternate; /* Alternate between up and down motion */
    }
}
@keyframes upDownAnimation {
    0% {
        transform: translateY(0);
    }
            100% {
        transform: translateY(20px); /* Adjust the distance of the animation */
    }
}