.workHeading {
    background: var(--white-a10);
    width: 100%;
    color: var(--primary-font);
    padding: 1rem 2rem 0;
}

.backgroud {
    justify-content: center;
    align-items: flex-start;
    min-width: 100vw;
    background: var(--white-a10);
    column-gap: 2rem;
    row-gap: 2rem;
    padding: 1rem 2rem 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 16px;

    .card:hover {
        /* outline: 1px solid var(--primary-font); */
        animation: glowUp .5s infinite alternate;
        cursor: default;
    }

    .card:nth-child(1) {
        grid-area: 1 / 1 / 2 / 3;
    }

    .card:nth-child(2) {
        grid-area: 2 / 1 / 3 / 2;
    }

    .card:nth-child(3) {
        grid-area: 2 / 2 / 3 / 3;
    }

    .card {
        padding: 1.5rem;
        position: relative;
        border-radius: .5rem;
        background: var(--white-a10);
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        .companyName {
            color: var(--primary-font);
            font-size: 1.25rem;
            font-weight: bold;
            color: var(--primary-font);
            font-family: 'Inter', sans-serif;
            padding-top: 1rem;
            margin-left: 1.25rem;
            display: flex;

            .arrowIcon {
                opacity: 0;
            }
        }

        .companyName:hover {
            .arrowIcon {
                transition: all .5s;
                opacity: 1;
                animation: upDownAnimation .5s infinite alternate;

            }
        }


        .headingWrapper {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            color: var(--primary-font);
        }

        .heading {
            font-weight: semi-bold;
            color: var(--primary-font);
            font-family: 'Inter', sans-serif;
        }

        .heading1 {
            font-weight: semi-bold;
            color: var(--secondary-font);
            font-family: 'Inter', sans-serif;
        }
    }

}

@keyframes upDownAnimation {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(5px, -5px);
        /* Adjust the distance of the animation */
    }
}

@keyframes glowUp {
    0% {
        outline: 0px solid var(--primary-font);
        border-radius: .5rem;
    }

    25% {
        outline: 1px solid var(--primary-font);
        border-radius: .7rem;

    }

    50% {
        outline: 2px solid var(--primary-font);
        border-radius: .8rem;

    }

    100% {
        outline: 2px solid var(--primary-font);
        /* Adjust the distance of the animation */
        border-radius: 1rem;

    }
}

@media screen and (max-width: 400px) {
    .backgroud {
        display: flex;
        flex-direction: column;

        .card {
            width: 100% !important;
        }
    }

}