@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.header {
  display: flex;
  justify-content: flex-end;
  width: 70vw;
  margin: auto;
  padding: 1rem 0rem;
  max-height: 10vh;
  background-color: rgba(255, 255, 255, 0.8);
}

.resume {
  background: #423294;
  color: #fdfffd;
  padding: .5rem 1rem;
  border-radius: 50px;
  text-decoration: none;
  -webkit-box-shadow: 0px 5px 40px 0px rgb(66 50 148 / 48%);
  -moz-box-shadow: 0px 5px 40px 0px rgb(66 50 148 / 48%);
  box-shadow: 0px 5px 40px 0px rgb(66 50 148 / 48%);
}

body {
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
  background: #fdfffd;
  color: #423294;
}

.main-card {
  display: grid;
  grid-template-columns: auto;
  justify-items: center;
  min-height: 90vh;
  align-items: center;
  max-width: 80vw;
  margin: auto;
}

.card {
  min-width: 50%;
  max-width: 50%;
  column-gap: 2rem;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: flex-start;
  justify-content: center;
}

.heading {
  font-size: xx-large;
  font-weight: 700;
  margin: 0;
}

.heading-1 {
  font-size:x-large;
  font-weight: 700;
  margin: 0;
}
.sub-heading {
  font-size: large;
  font-weight: 600;
  margin: 0.25rem;
}
.sub-text {
  font-size: medium;
  font-weight: 400;
  margin: 0.25rem;
}

.profile {
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  animation: zoom 2s;
  transform-origin: 40% 20%;
  -webkit-box-shadow: 0px 0px 72px 11px rgba(66, 50, 148, 0.48);
  -moz-box-shadow: 0px 0px 72px 11px rgba(66, 50, 148, 0.48);
  box-shadow: 0px 0px 72px 11px rgba(66, 50, 148, 0.48);
}
.companies{
  display: grid;
  grid-template-columns: inherit;
}

.company-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  padding: 1rem;
  margin: 1.5rem 0;
  width: 100%;
  -webkit-box-shadow: 0px 0px 72px 11px rgba(66, 50, 148, 0.48);
  -moz-box-shadow: 0px 0px 72px 11px rgba(66, 50, 148, 0.48);
  box-shadow: 0px 0px 72px 11px rgba(66, 50, 148, 0.48);
}
.github {
  width: 2rem;
  height: 2rem;
}

.link {
  display: flex;
  min-width: 20vw;
  justify-content: space-between;
  /* border: 1px solid #e5e7eb; */
  padding: .5rem 2rem;
  /* border-radius: 50px; */
  align-items: center;
  /* -webkit-box-shadow: 0px 5px 40px 0px rgb(66 50 148 / 48%);
  -moz-box-shadow: 0px 5px 40px 0px rgb(66 50 148 / 48%);
  box-shadow: 0px 5px 40px 0px rgb(66 50 148 / 48%);
  border: 1px solid #423294; */
  color: #423294 !important;
}

.link a svg path {
  stroke: #423294 !important;
}

.experience{
  display: grid;
  grid-template-columns: 1fr;
}

.logo{
  width: 4rem;
  height: 4rem;
  border-radius: .5rem;
  margin: 0.5rem;
}
@media screen and (max-width: 714px) {
  .header {
    width: 95vw;
  }

  .card {
    grid-template-columns: 1fr;
    max-width: 80%;
    min-width: 80%;
    display: flex;
    flex-direction: column-reverse;
  }

  .link {
    min-width: 70%;
  }

  .heading {
    padding-top: 1rem;
  }
  .experience{
    flex-direction: column;
  }
  .companies{
  flex-direction: column;
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
  }

  to {
    background-color: scale(2);
  }
}